{% extends 'base.html' %}

{% block title %}Blogly Create Post{% endblock %}

{% block content %}
<h1>Add Post for {{ user.full_name }}</h1>
<form method="POST">
  <label for="title">Title</label>
  <input id="title" type="text" name="title" required>
  <label for="content">Content</label>
  <textarea id="content" name="content" rows="5" cols="33" required></textarea>
  {% for tag in tags %}
  <label><input type="checkbox" name="{{tag.name}}">{{tag.name}}</label>
  {% endfor %}
  <button>Add</button>
  <button formaction=/users/{{user.id}} formmethod="GET">Cancel</button>
</form>

{% endblock %}